@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Unica One', sans-serif ;
}

.content{
  height: calc(100vh - 80px);
  width: 100%;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  


}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  display:none; 
 
}

/* Track */
::-webkit-scrollbar-track {
  background: #111116; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  border-radius: 10px;
}